<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container">
        <div class="card mt-5">
            <div class="card-header p-5">
                <h1><%= pergunta.title %></h1>
                <h4><%= pergunta.description %></h4>
            </div>
            <div class="card-body">
                <% respostas.forEach(resposta => { %>
                        <div class="card p-3 mt-3 mb-3">
                            <p><%= resposta.body %></p>
                        </div>
                <% }) %>
            </div>
            <div class="card-footer">
                <form method="POST" action="/responder">
                    <label>Resposta:</label>
                    <textarea placeholder="Digite sua resposta" class="form-control" name="corpo"></textarea>
                    <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
                    <button type="submit" class="btn btn-outline-dark mt-3">Responder</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('./partials/footer.ejs') %>